<!-- Formulario para agregar/editar alimentos (ejemplo) -->
<form (ngSubmit)="saveFood()">
  <label for="name">Nombre:</label>
  <input type="text" id="name" [(ngModel)]="food.name" name="name" required />

  <label for="description">Descripción:</label>
  <textarea
    id="description"
    [(ngModel)]="food.description"
    name="description"
    required
  ></textarea>

  <label for="price">Precio:</label>
  <input
    type="number"
    id="price"
    [(ngModel)]="food.price"
    name="price"
    required
  />

  <label for="quantity">Cantidad:</label>
  <input
    type="number"
    id="quantity"
    [(ngModel)]="food.quantity"
    name="quantity"
    required
  />

  <button type="submit">Guardar</button>
</form>
